<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DevBooster</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Playfair Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Dancing Script">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    {% block meta %}
      <meta name="description" content="{% block description %}{% endblock description %}">
    {% endblock meta %}
  </head>

  {% block body %}
    <main>
      {% block header %}

        {% include '@templates/header.html.twig' %}
      {% endblock %}

      {% block content %}{% endblock content %}

      {% block footer %}
        {% include '@templates/footer.html.twig' %}
      {% endblock footer %}
 
    </main>

    

  {% endblock body %}


</body>
</html>
