<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid justify-content-center justify-content-lg-between">
      {% block logo %}
        <a class="navbar-brand" href="{{ path('index') }}">
          <img src="{{ asset('../assets/images/logo6_29_153032.png') }}" alt="Logo DevBooster" title="SancyOutdoor">
        </a>
      {% endblock logo %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="menu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#team" tabindex="-1" aria-disabled="true">
                Notre histoire ..
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#masonry" tabindex="-1" aria-disabled="true">Devis</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>