.friends {
    margin-bottom: 80px;
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    .friends img {
        padding-top: 30px;
    }
}

@media (max-width: 370px) {
    .friends img {
        width: 120px;
    }
}