header {
    .navbar-brand {
        img {
            width: 150px;
        }
        padding: 0;
    }
    .nav-link {
        color: #000 !important;
        font-weight: bold;
    }
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: right;
}

.m-0 {
    display: flex;
    justify-content: right;
}