 .presentation {
     img {
         width: 100%;
         box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
         opacity: 0.7;
     }
     .presentation-titles {
         .display-2 {
             text-transform: uppercase;
         }
         .lead {
             font-family: dancing script;
             font-size: 36px;
             padding-top: 30px;
         }
     }
     span {
         border: 1px solid white;
         border-radius: 10px;
     }
     button {
         background-color: rgba(255, 235, 205, 0);
         border: rgba(255, 255, 255, 0);
     }
     .btn {
         background-color: gray;
         opacity: 0.6;
         color: white;
         text-decoration: none;
         padding: 10px;
         padding-left: 30px;
         padding-right: 30px;
         border-radius: 30px;
         margin-top: 60px;
     }
     .carousel-caption {
         margin-bottom: 20%;
     }
 }
 
 @media(max-width: 1200px) {
     .presentation {
         .carousel-caption {
             margin-bottom: 20%;
         }
         .presentation-titles {
             .display-2 {
                 font-size: 45px;
             }
             .lead {
                 font-family: dancing script;
                 font-size: 36px;
             }
             .btn {
                 padding: 0px;
                 padding-left: 10px;
                 padding-right: 10px;
                 border-radius: 30px;
             }
         }
     }
 }
 
 @media(max-width: 870px) {
     .presentation {
         .carousel-caption {
             margin-bottom: 20%;
         }
         .presentation-titles {
             .display-2 {
                 font-size: 20px;
             }
             .lead {
                 font-family: dancing script;
                 font-size: 16px;
             }
         }
     }
 }
 
 @media(max-width: 520px) {
     .presentation {
         .carousel-caption {
             margin-bottom: 0%;
         }
         .presentation-titles {
             .display-2 {
                 font-size: 20px;
             }
             .lead {
                 display: none;
                 visibility: hidden;
             }
         }
     }
 }