#projects {
    margin-top: 80px;
    margin-bottom: 80px;
    .project {
        display: block;
        border-left: solid;
        h2 {
            text-align: left;
            font-size: 48px;
            padding-left: 20px;
        }
        p {
            font-size: 42px;
            font-family: Dancing Script;
            text-align: left;
            padding-left: 20px;
        }
    }
}

@media(max-width: 768px) {
    .projects {
        .project {
            h2 {
                text-align: left;
                font-size: 25px;
                padding-left: 10px;
            }
            p {
                font-size: 25px;
                font-family: Dancing Script;
                text-align: left;
                padding-left: 10px;
            }
        }
    }
}