.realisation {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    text-align: center;
    p {
        color: #002b5c;
        padding-left: 50px;
        padding-right: 50px;
    }
    h3 {
        color: #002b5c;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    img {
        padding-bottom: 30px;
    }
}