.testimony {
    blockquote {
        position: relative;
        &::before {
            content: '“';
            font-size: 80px;
        }
    }
    .carousel-caption {
        margin-bottom: 16%;
        font-size: 20px;
        strong {
            font-size: 35px;
        }
    }
    .carousel-indicators {
        margin-bottom: 10%;
    }
    .carousel-indicators li {
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
}

@media(max-width:1330px) {
    blockquote {
        position: relative;
        &::before {
            display: none;
            visibility: hidden;
        }
    }
}

@media(max-width: 1000px) {
    .testimony {
        .carousel-caption {
            margin-bottom: 5%;
            font-size: 20px;
            strong {
                font-size: 18px;
            }
        }
        .carousel-indicators {
            margin-bottom: 2px;
        }
        .carousel-indicators li {
            border-radius: 50%;
            width: 15px;
            height: 15px;
        }
    }
}

@media(max-width: 700px) {
    .testimony {
        .carousel-caption {
            font-size: 10px;
            strong {
                font-size: 15px;
            }
            p {
                margin-bottom: -20px;
            }
            small {
                display: none;
                visibility: hidden;
            }
        }
    }
}

@media(max-width: 450px) {
    .testimony {
        .carousel-caption {
            font-size: 10px;
            strong {
                font-size: 15px;
            }
            p {
                margin-bottom: -20px;
            }
            small {
                display: none;
                visibility: hidden;
            }
        }
    }
}