.bloc {
    margin-top: 80px;
    margin-bottom: 80px;
    .bloc1 {
        display: block;
        border-right: solid;
        h2 {
            text-align: right;
            font-size: 48px;
            padding-right: 20px;
        }
        p {
            font-size: 45px;
            font-family: Dancing Script;
            text-align: right;
            padding-right: 20px;
        }
    }
}

@media(max-width: 768px) {
    .bloc {
        .bloc1 {
            h2 {
                text-align: right;
                font-size: 25px;
                padding-right: 10px;
            }
            p {
                font-size: 25px;
                font-family: Dancing Script;
                text-align: right;
                padding-right: 10px;
            }
        }
    }
}